/* standard elements */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a {color: #175072;}
a:hover {color: #FF7D00;}

img {
border: 0;
}

body {
	background: #114054 url(Warm_Blue/img/bg.jpg) repeat-x left bottom;
	color: #114054;
	font: normal 62.5% Tahoma,sans-serif;
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}





h1,h2,h3 {padding-top: 6px;}

/* misc */
.clearer {clear: both;}

.left {float: left;}

.right {float: right;}

/* structure */
.container {
	background-color: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 10px 10px;
	width: 780px;
}

/* header */
.top {
	padding: 10px 10px 0;
}

/* title */
.header {
	background-color: #fff;
	font-size: 1.2em;
	height: 105px;
	margin: 0 auto;
	padding: 10px 10px 5px;
	width: 780px;
}
.header .left, .header .right {
	background-color: #333;
	color: #FFF;
	height: 105px;	
}
.header .left {
	background-color: #1D597C;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: normal;
	width: 564px;
	text-align: left;
	background-image: url(Warm_Blue/img/bgheader.gif);
	background-repeat: repeat-x;
	
}
.header .right {
	overflow: auto;
	width: 212px;
	background-image: url(Warm_Blue/img/bgheader_r.gif);
	background-repeat: repeat-x;
	background-color: #FF7D00;
}
.header .right p,.header .right h2 {padding: 0 16px;}
.header .right h2 {padding-top: 16px; font: normal 1.6em "Trebuchet MS",sans-serif;}

/* navigation */
.navigation {	
	background: #D9E1E5 url(Warm_Blue/img/nav.jpg);
	border: 1px solid #ffffff;
	height: 41px;
}
.navigation a {
	background: transparent url(Warm_Blue/img/nav.jpg) left top repeat-x;
	border-right: 1px solid #D8EBD8;
	color: #1C455E;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 18px;
	text-decoration: none;
}
.navigation a:hover {
background: transparent url(Warm_Blue/img/nav.jpg) left bottom; 
color: #1C455E;
}

/* main */
.main {
	border-top: 4px solid #FFF;
	background: url(Warm_Blue/img/bgmain.gif) repeat-y;
}

/* sub navigation */
.sidenav {
	float: right;
	width: 210px;
}
.sidenav h2 {
	color: #1C455E;
	font-size: 1em;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.sidenav ul {
	padding: 0;
	border-top: 1px solid #D8EBD8;
}
.sidenav li {border-bottom: 1px solid #D8EBD8;}
.sidenav li a {
	font-size: 1.1em;
	color: #1C455E;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.sidenav li a:hover {
	background-color: #EBF0F3;
	color: #2E7198;	
}

/* content */
.content {
	float: left;
	margin: 10px 0;
	padding: 0 16px;
	width: 531px;
}
.content .descr {
	color: #1C455E;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content li {
	margin-left: 18px;
}

.content .imgright {
padding: 5px;
border: 1px solid #ADD1E7;
margin-left: 4px;
float: right;
}

.content p
{
color: #333333;
}


/* footer */
.footer {
	background: url(Warm_Blue/img/bgfooter.gif) repeat-x;
	color: #FFF;
	font: bold 1em sans-serif;
	line-height: 39px;
	text-align: center;
}
.footer a,.footer a:hover {color: #FFF;}
